# Ignore everything
/*

# But not these files...
!.gitignore
!00_Intro_to_ASDAF_Day2.ipynb
!01_Intro_to_ASDAF_Data_Sources.ipynb
!02_Automation_using_SARA_Client.ipynb
!03_Intro_to_Pawsey.ipynb
!04_Intro_to_Pawsey_Mediaflux.ipynb
!06_Revision_of_Numpy.ipynb
!07_Revision_of_Rasterio.ipynb
!05_Revision_of_Python.ipynb
